@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flag-icons/css/flag-icons.min.css';


@font-face {
    font-family: 'Blue Ridge';
    src: url('../../public/fonts/blue-ridge.otf') format('opentype');
    font-weight: 100; /* Can be 'bold', 'light', etc. */
    font-style: normal; /* Can be 'italic', 'oblique', etc. */
}
  
* {
    color: #251711;
}

:root {
  --background: #ededed;
  --foreground: #3c362f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ccae78;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', 'Noto Sans JP';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a:hover, button:hover {
    color: #f7fcfd;
}

h1 {
    font-size: 1.75rem !important;
}

h2 {
    font-size: 1.5rem;
}

.navbar-text {
    margin-bottom: -6px;
}

.img-bg {
    background-size: cover;
    height: 480px
}

.home-content {
    margin: 50px 0;
}

.navbar-text, .page-title {
    font-family: 'Blue Ridge', 'RocknRoll One' !important;
}

.page {
    background-color: #E5CFA4;
    box-shadow: 10px 10px 100px #251711;
}

.page-title {
    font-size: 2rem;
}

.small-english{
    margin-top: 10px;
}

.sub-drop {
    width: 350px;
}

.title, .navbar-text {
    color: #d3d1b8;
}

#home-bg {
    background-image: url('../../public/images/jw-interior.jpeg');
}

#info-bg {
    background-image: url('../../public/images/jw-interior.jpeg');
}

#services-bg {
    background-image: url('../../public/images/jw-services.png');
}

#staff-bg {
    background-image: url('../../public/images/jw-trim.png');
}

